.pace .pace-progress {
  background: #000;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 1px;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}
#button1{
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}
.bolck{
	display: block;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}
